# SQLite Source (The default path is defined in MacOS)
SQLITE_SOURCE=

# Notion API Key and Database ID
NOTION_API=
NOTION_DB=

# Summarize Bookmarks
SUMMARIZE_ENABLED=true
SUMMARIZE_LANGUAGE=zh
GEMINI_MODEL=gemini-1.5-flash
GEMINI_API=