@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 9% 95%;
    --foreground: 0 0% 6.7%;
    --muted: 50 9% 95%;
    --muted-foreground: 0 0% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.7%;
    --border: 50 3% 79%;
    --input: 50 3% 79%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.7%;
    --primary: 32 100% 50%;
    --primary-foreground: 0 0% 6.7%;
    --secondary: 50 4% 90%;
    --secondary-foreground: 0 0% 6.7%;
    --accent: 50 9% 95%;
    --accent-foreground: 0 0% 6.7%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 32 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6.7%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 18%;
    --muted-foreground: 50 2% 72%;
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 100%;
    --popover: 0 0% 10.2%;
    --popover-foreground: 0 0% 100%;
    --border: 0 0% 18%;
    --input: 0 0% 18%;
    --card: 0 0% 10.2%;
    --card-foreground: 0 0% 100%;
    --primary: 32 100% 50%;
    --primary-foreground: 0 0% 6.7%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 32 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
